In [4]:
import pandas as pd

In [1]:
input_path = "/Users/tccuong1404/Library/Mobile Documents/com~apple~CloudDocs/Data/VDic/VDic_uni.txt"

In [8]:
vdic_df = pd.read_csv(input_path, delimiter="\t", on_bad_lines="warn")

/var/folders/0w/ykxp38y53_sc7t27_s6hkf0w0000gn/T/ipykernel_75140/1618616622.py:1: ParserWarning: Skipping line 23686: expected 3 fields, saw 5

  vdic_df = pd.read_csv(input_path, delimiter="\t", on_bad_lines="warn")

In [14]:
vdic_df[]

                  a Unnamed: 1 Nc, Ng, Vit, I, E
0      A Di Đà Phật        NaN                Np
1             a-dốt        NaN                Np
2             a dua        NaN                Vt
3      a-đrê-na-lin        NaN                Np
4            a giao        NaN            Nc, Ng
...             ...        ...               ...
37457             :        NaN                 :
37458             ;        NaN                 ;
37459             !        NaN                 !
37460      ?isName?        NaN                Np
37461     ?isDigit?        NaN                Nn

[37462 rows x 3 columns]

In [17]:
vocab = [str(x).lower() for x in vdic_df["a"]]
len(vocab)

37462